.piano {
   width: 1000px;
   height: 400px;
   margin:50px auto;
   display:flex;
 }
 
 .whiteKey {
   width: 100px;
   height: 300px;
   border:2px solid rgb(122, 91, 5);
   border-radius: 0 0 5px 5px;
   /* cursor: pointer; */
   text-align: center;
   font-size: 40px;
   font-family: sans-serif;
   border-radius: 0 0 10px 10px;
   font-weight: bold;
   background: rgb(240, 233, 213);
   user-select: none;
   /* transition: .1s; */
   display: flex;
   align-items: flex-end;
   justify-content: center;
 }

 .blacKey {
   width: 70px;
   background: black;
   font-size: 30px;
   border-radius: 0 0 10px 10px;
   height: 170px;
   margin-left: -35px;
   margin-right: -35px;
   z-index: 2;
 }

 .Db4-key {
	left: 20px;
 }
 
 .Eb4-key {
	left: 54px;
 }
 
 .Gb4-key {
	left: 124px;
 }
 
 .Ab4-key {
	left: 160px;
 }
 
 .Bb4-key {
	left: 195px;
 }
 
 .Db5-key {
	left: 264px;
 }
 
 .Eb5-key {
	left: 300px;
 }
 
 * {
    background-color: rgb(204, 142, 60);
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   }
